fastapi
uvicorn[standard]
python-dotenv
groq
pydantic
python-multipart
pandas
numpy
faiss-cpu
sentence-transformers
pillow
requests
beautifulsoup4
deep-translator
langdetect
vaderSentiment
schedule
streamlit
feedparser
pypdf