fastapi
uvicorn[standard]
python-dotenv
groq
google-genai
pydantic
python-multipart
pandas
numpy
faiss-cpu
sentence-transformers
scikit-learn
pillow
requests
beautifulsoup4
deep-translator
langdetect
vaderSentiment
schedule
streamlit
feedparser
pypdf